; http://editorconfig.org/

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java
[*.{java}]
indent_size = 4
indent_style = space

# Shell
# https://google.github.io/styleguide/shell.xml#Indentation
[*.{bash, sh, zsh}]
indent_size = 2
indent_style = space

# Markdown
[*.md]
indent_style = space
indent_size = 4
